<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 1.parameterType은 생략이 가능하다(권장하지 않음) 2.parameterType에 1개의 Type만 올 수 있다. 
	3.parameterType에 bean인 경유 #{필드명} 4.parameterType에 변수인 경유 #{변수명} (변수가 1개인 
	경우) 5.parameterType에 Map<key, value>타입인 경유 #{key}로 쓴다. 6.#{} : 문자열인 경우 '' 
	추가됨 7.${} : ''(따옴표)없이 그대로 입력됨 8.resultType도 1개만 올 수 있는데 1개 이상의 레코드를 검색하는 
	경우도 bean타입만 명시하면 된다. -->
<mapper namespace="com.bodybuddy.hey.dao.MemberDao">
	<!-- 빈 필드명과 컬럼명이 다르거나 타입이 호환되지 않을 때 -->
	<!-- <resultMap type="memeber(Alias 타입)" id="member(resultMap의 이름)"> <result 
		property="mid(빈 변수명)" column="M_ID(테이블 컬럼명)" javaType="String" jdbcType="NVARCHAR2" 
		/> javaType="String" jdbcType="NVARCHAR2" 명시 하지 않아도 자동 호환 </resultMap> -->

	<insert id="normalMemberJoin" parameterType="member">
		INSERT INTO M
		VALUES(#{m_id},#{m_pw},#{m_name},#{m_phone},TO_DATE(#{m_birth},'YYYY/MM/DD'),#{m_addr},#{m_kind},#{m_exaddr})
	</insert>
	<insert id="trainerMemberJoin" parameterType="member">
		INSERT INTO T
		VALUES(#{m_id},#{t_cid},#{t_career})
	</insert>
	<insert id="companyMemberJoin" parameterType="member">
		INSERT INTO C
		VALUES(#{m_id},#{c_num},#{c_bname},#{c_bphone})
	</insert>

	<select id="checkId" parameterType="String" resultType="Integer">
		SELECT
		COUNT(*) FROM M
		WHERE M_ID = #{m_id}
	</select>
	<select id="checkCompanyNum" parameterType="String"
		resultType="Integer">
		SELECT COUNT(*) FROM C
		WHERE C_NUM = #{c_num}
	</select>
	<select id="forgetId" parameterType="member" resultType="member">
		SELECT
		M_ID FROM M
		WHERE M_NAME = #{m_name} AND M_PHONE = #{m_phone} AND
		M_BIRTH = #{m_birth}
	</select>
	<select id="forgetPw" parameterType="member" resultType="member">
		SELECT
		M_ID FROM M
		WHERE M_ID = #{m_id} AND M_NAME = #{m_name} AND M_PHONE =
		#{m_phone} AND
		M_BIRTH = #{m_birth}
	</select>
	<update id="memberDeleteReal" parameterType="String">
		UPDATE M SET M_PW =
		'탈퇴회원',M_NAME = '탈퇴회원',M_PHONE = '탈퇴회원',M_BIRTH = SYSDATE,M_ADDR =
		'탈퇴회원',M_EXADDR = '탈퇴회원',M_KIND = 'D'
		WHERE M_ID = #{m_id}
	</update>
	<insert id="DeleteRealId" parameterType="String">
		INSERT INTO DELETEREALID	
		VALUES(#{m_id},'탈퇴회원')
	</insert>

	<update id="temporaryPw" parameterType="String">
		UPDATE M SET M_PW =
		#{m_pw} WHERE M_ID = #{m_id}
	</update>

	<select id="qaNum" parameterType="String" resultType="question">
		SELECT * FROM QA WHERE QA_NUM = #{qa_num}
	</select>
	
	<update id="questionReply" parameterType="hashmap">
	UPDATE QA SET QA_ACONTENT = #{param1}, QA_ADATE = SYSDATE , QA_TRUE='t'
	WHERE QA_NUM = #{param2}
	</update>	
	<select id="qNaCheck" parameterType="String" resultType="question">
	SELECT * FROM QA WHERE qa_num= #{qa_num} 
	</select>
	<select id="trainerModifyT" parameterType="String"
		resultType="member">
		SELECT * from t_modify
		WHERE m_id = #{m_id}
	</select>
	<update id="deleteAd" parameterType="String">
		UPDATE AD SET AD_STATUS ='만료됨' WHERE AD_CODE=#{ad_code}
	</update>



	<select id="getModifyN" parameterType="String"
		resultType="member">
		SELECT
		M_ID,M_PW,M_NAME,M_PHONE,TO_CHAR(M_BIRTH,'YYYY/DD/MM'),M_KIND,M_ADDR,M_EXADDR
		FROM M WHERE M_ID=#{m_id}
	</select>

	<select id="getPhotoModifyN" parameterType="String"
		resultType="member">
		SELECT * FROM PF WHERE PF_ID=#{m_id}
	</select>
	<select id="pfimage" parameterType="String" resultType="String">
		SELECT *
		FROM PF WHERE PF_ID=#{m_id}
	</select>
	<update id="updateNorMb" parameterType="member">
		UPDATE MEMBER
		SET M_PW =
		#{m_pw},
		M_PHONE = #{m_phone},
		M_ADDR = #{m_addr},
		M_EXADDR= #{m_exaddr}
		WHERE M_ID=#{m_id}
	</update>
	<select id="imgOverlap" parameterType="String"
		resultType="Integer">
		SELECT COUNT(*) FROM PF WHERE PF_ID=#{m_id}
	</select>
	<select id="opcoubt" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM OP WHERE OP_ADCODE = #{ad_code}
	</select>
	<select id="advertiseModifyFrm" parameterType="String"
		resultType="question">
		SELECT * FROM OP
		LEFT JOIN AD
		ON AD_CODE = OP_ADCODE
		WHERE OP_ADCODE = #{ad_code}
	</select>
	<delete id="deleteAdphoto" parameterType="String">
	DELETE FROM ADPHOTO WHERE AP_ADCODE = #{ad_code}
	</delete>
	
	
	<update id="admodify" parameterType="question">
	UPDATE AD SET AD_TITLE = #{ad_title} ,AD_CONTENT=#{ad_content}, AD_CATEGORY =#{ad_category},AD_STATUS ='모집중',AD_DATE=sysdate
	where ad_code = #{xxx}
	</update>

	<delete id="deletepf" parameterType="String">
	delete from adphoto where ap_adcode=#{ad_code}
	</delete>
	<insert id="adpfmodify" parameterType="hashmap">
	INSERT INTO ADPHOTO VALUES (#{ap_adcode},#{ap_image})
	</insert>
	
	<update id="opmodify" parameterType="question">
	UPDATE OP SET OP_TRAINER=#{op_trainer} ,OP_PRICE=#{op_price},OP_PERIOD=#{op_period},OP_TIMES=#{op_times},
	OP_DAY=#{op_day},OP_CONTENT=#{op_content},OP_CLOCK=#{op_clock},OP_PERSONNEL=#{op_personnel},OP_EXPIRE='1'
 	</update>
	

</mapper>