<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bodybuddy.hey.dao.YoonDao">

	<select id="mainList" resultType="HashMap">
		SELECT * FROM MAINLIST
		
		LEFT JOIN T_CID_ADDR 
		
		ON MAINLIST.T_CID=T_CID_ADDR.T_CID  
	</select>
	
	<select id="opCateListAll" resultType="HashMap">
		SELECT * FROM CATEGORY
	</select>
	
</mapper>
