<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bodybuddy.hey.dao.YoonDao">

	<select id="mainList" resultType="HashMap">
		SELECT DISTINCT * FROM MAINLIST
		LEFT JOIN T_CID_ADDR ON MAINLIST.T_CID=T_CID_ADDR.T_CID
		ORDER BY AD_CODE
	</select>
	<select id="opCateListAll" resultType="opCategory" >
		SELECT * FROM CATEGORY
	</select>
	
	<!-- <resultMap type="String" id="dibsId">
		<result property="d_id" column="D_ID" jdbcType="NVARCHAR2" javaType="String" />
	</resultMap> -->
	<select id="dibsN" parameterType="String">
		SELECT * FROM D WHERE D_ID=#{d_id}
	</select>
</mapper>